@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.feather {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

body {
  --sb-track-color: #181a20;
  --sb-thumb-color: #343946;
  --sb-size: 8px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

.links-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 0px auto;
  background-color: #999999;
}

.section-title::after {
  content: "";
  background-color: #444;
  width: 100px;
  height: 1px;
  margin: 0 20px;
  display: block;
}

.skill-item::before,
.task-item::before {
  content: "▹";
  left: 0px;
  color: #64ffda;
}

